html{
    background-color: slategray;
}

@media (max-width: 480px) {
    .Sidebar {
        width: 20%; /*For smaller screens */
        height: auto;
        position: fixed;
        left: 0;
        top: 0;
        overflow-y: auto;
        z-index: 1;
    }
    
    body {
    margin-left: 30%;
  }
}

/* Image in center at top  */
.MainPage img {
    height: 200px;
    width: 100%;
    max-width: 250px;
    margin-bottom: 0px;
    mix-blend-mode: overlay;
    position: static;
    object-fit: cover;
}

.MainPage {             /* picture, paragraph under picture */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    text-align: center;
}

/* Unordered list, used this for the links */
.SideBar ul {
    list-style-type: none;
    padding: 0;
}

/* Links group for format */
.SideBar a {
    margin: 50px 0;
    padding: 20px;
    background-color: cornflowerblue;
    color: white;
    border-radius: 10px;
    display: block;
}

.Sidebar a:hover {
    color: bisque;
}

/* Sidebar with hyperlinks*/
.Sidebar {
    margin-left: 0;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 150px;
    height: 100vh;
    color: white;
    background-color: sienna;
    padding: 20px;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
    z-index: 2;
    border: 5px solid burlywood;
    overflow-y: auto;       /* I believe this allows clicks within the sidebar */
    
}

.Sidebar img {
    display: block;
    margin: 0 5px;
    width: 100%;
    height: auto;
}

.AboutBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, palegoldenrod, lightseagreen);
    color: black;
    border: none;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 30px 30px;
    cursor: pointer;
    width: 150px; 
    height: 125px;
    transition: transform 0.2s ease, background-color 0.2s ease;
    padding: 0;
    margin: 20px auto;
    position: absolute;
    z-index: 5;
    text-shadow: 2px 4px 7px rgba(0, 0, 0, 0.5);

    /*center the button in image */
    top: 50%; /* Vertically center within container */
    left: 50%; /* Horizontally center within container */
    transform: translate(-50%, -50%); /* Adjust placement to truly center */
}

.container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%; /* viewport height */
    width: 100%;  /*viewport height*/
    overflow: hidden; 
    position: relative;  
    margin: 20px auto;
  }

  .container1 img {
    text-align: center;
    position: relative;
    width: 100vw;
    height: 300px;
    z-index: -1;         /* z-index controls the 'layers', 1 is the lowest so its behind */
}
  
@keyframes Spin{
    from {
        transform: translate(-50%, -50%) rotate(0deg);
        scale: 1,10;
        background: linear-gradient(to left, palegoldenrod, lightseagreen);
        border-radius: 50px 50px;
        border-color: coral;
        
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
        scale: 1,10;
        border-radius: 50px 50px;
        border-color: coral;
       
    }
}






.AboutBtn:hover{
  animation: Spin 10s linear infinite;
}

/*@keyframes spinAway {
    0% {
        transform: rotate(0deg) scale(1);
        scale: 1;
    }
    50% {
        transform: rotate(180deg) scale(1.2);  
        scale: 1;
    }
    100% {
        transform: rotate(360deg) translateX(200px) scale(0.5);
        scale: 2;
    }
} */


.Intro {
    font-size: xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    color: blanchedalmond;
    margin-bottom: 10px;
}

.Intro2 {
    margin-bottom: 0px;
}


.Hobbies {
    text-align: center;
}
