* {
    margin: 0;
    padding: 0;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html{
    background-color: #19215d;
}

@media (max-width: 480px) {         /* this says if screen size is below 480 pixels, apply this */
    .Sidebar {
        width: 0; 
        transition: width 0.3s ease;        /* hides the sidebar for lower screens */
    }
}

/* Unordered list, used this for the links */

.topbar img{
    height: 200px;
    width: 100%;
    max-width: 250px;
    margin-bottom: 0px;
    mix-blend-mode: normal;         /* normal fixes color tinting the image*/
    position: static;
    object-fit: cover;
}

.topbar ul {
    list-style-type: none;
    padding: 0;
}

/* Links group for format */
.topbar a {
    margin: 50px 0;
    padding: 10px;
    background-color: #007fff;
    color: white;
    border-radius: 10px;
    display: block;
}

.topbar a:hover {
    color: bisque;
}

/* Sidebar with hyperlinks*/
.topbar {
    display: flex;
    flex-direction: row;
    gap: 10px;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
    z-index: 2;
    border: 3px solid #324ab2;
    overflow-y: auto;       /* I believe this allows clicks within the sidebar */

    transform: translatex(0%);
    transition: transform 0.3s ease;
    align-items: center;
    text-align: center;
    width: 100vw;
    
}


/*----------------------------------------------------------------- */

.scrollbtn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 200px;
    border-radius: 20px 20px;
    z-index: 100;
    cursor: pointer;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: #324ab2;
    border: 2px solid #000000;
    box-shadow: 0 0 5px #007fff, 0 0 5px #af08ff;
    color: azure;
}

.scrollbtn:hover{
        box-shadow: 0 0 5px #007fff, 0 0 5px #af08ff,
                    0 0 25px #007fff, 0 0 50px #af08ff,
                    0 0 100px #007fff, 0 0 200px #af08ff;
}

.Intro {
    font-size: xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    color: blanchedalmond;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
}

.Intro img{
    height: 10px;
    width: auto;
}

.Intro2 {                   /* The intro text, Just sets the margin  */ 
        margin-bottom: 0px;
    }


.mainpage {             /* picture, paragraph under picture, this also adjusts the font which .Intro2 uses */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    text-align: center;
    color: blanchedalmond;
}

.mainpage h1{
    padding: 100px;
}

#clockDate {                    /* RTC i made through javascript - mostly a feature for mobile since computers have this by default */
    position: fixed;
    height: auto;
    width: auto;                    /* 'auto' adjusts the width dynamically */
    top: 90%;
    right: 10px;
    font-size: 17px;
    color: #e0e0e0;
    border-style: double;
    border-color: #ffffffc6;
    background-color: #007fff;
    padding: 5px 10px;
    border-radius: 5px;

}



.projectbtn{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, palegoldenrod, lightseagreen);
    color: black;
    border-style: ridge;
    border-color: #b29a32;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 30px 30px;
    cursor: pointer;
    width: 150px; 
    height: 125px;
    transition: transform 0.2s ease, background-color 0.2s ease;
    padding: 0;
    margin: 20px auto;
    position: absolute;
    z-index: 5;
    text-shadow: 2px 4px 7px rgba(0, 0, 0, 0.5);

    /*center the button in image */
    top: 50%; /* Vertically center within container */
    left: 50%; /* Horizontally center within container */
    transform: translate(-50%, -50%); /* Adjust placement to truly center */
}

.projectbtn:hover{
    transition: transform 0.2s ease;
    animation: Spin 10s linear infinite;
  }
/*-----------------------------------SIDEBAR UI----------------------------------------------- */
.container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%; /* viewport height */          /* Container is used to hold the image behind the button */
    width: 100%;  /*viewport height                 It holds both the button and image so I could ensure its layered properly */
    overflow: hidden; 
    position: relative;  
    margin: 20px auto;
    margin-top: 200px;
  }

  .container1 img {                     /* The image itself  the above controls the general location */
    text-align: center;
    position: relative;
    width: 100vw;
    height: 300px;
    z-index: -1;         /* z-index controls the 'layers', 1 is the lowest so its behind the lowest */

    border-style: ridge;
    border-color: #b29a32;
}

.container2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    height: 100vh;
}

.box{
    width: 650px;
    border: 3px solid #b29a32;
    text-align: center;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background: linear-gradient(to bottom, #324ab2, #024b95);

}

.content {
    margin-bottom: 10px;
}

#metext{
    justify-content: center;
    text-align: center;
    word-spacing: 8px;
}

.logostop {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 50px;
    margin-bottom: 10px;
}

.logostop img{
    width: 60px;
    height: auto;
    padding: 5px;
    background-color: #36454f;
    border-style: groove;
    border-color: #b29a32;
}

.logomid, .logobottom {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
}

.logomid img{
    width: 70px;
    height: auto;
    background: linear-gradient(to bottom, #36454f, #5db4bd);
    border-style: groove;
    border-color: #b29a32;
}

.logobottom img{
    width: 70px;
    height: auto;
}

/* Font and Text color for split sections of content*/
.content, #distros{
    text-shadow: 8px 2px 4px rgba(0, 0, 0, 0.5);
    color: blanchedalmond;
}


#distros img{
    width: 60px;
    height: auto;
    padding: 5px;
    margin-top: 50px;
}

#distros p{
    margin-top: 100px;
}

.contact {
    text-align: center;
    padding: 20px;
    margin-top: 300px;
    margin-bottom: 200px;

    color: silver;
}


/*-----------------------------------ANIMATIONS---------------------------------- */

@keyframes Spin{            /* Spin animation   */
    from {
        transform: translate(-50%, -50%) rotate(0deg);
        scale: 1,10;
        background: linear-gradient(to left, palegoldenrod, lightseagreen);
        border-radius: 50px 50px;
        border-color: coral;
        
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
        scale: 1,10;
        border-radius: 50px 50px;
        border-color: coral;
       
    }
}

@keyframes btnDrop {
    0% {    transform: translatey(-50%);
            opacity: 0;
    }

    50% {
        transform: translatey(10px);
        opacity: 1;
    }

    100% {
        transform: translatey(0);
        opacity: 1;
    }

}


@keyframes spinAway {                 
    0% {
        transform: rotate(0deg) scale(1);
        scale: 1;
    }
    50% {
        transform: rotate(180deg) scale(1.2);  
        scale: 1;
    }
    100% {
        transform: rotate(360deg) translateX(200px) scale(0.5);
        scale: 2;
    }
} 
